/*Please, write you styles in correct block*/


/*Block 1, 2 begin */
.navbar {
  margin-bottom: 0;
}

.logo {
    background: #ccc;
    color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div span {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.menu {
    height: 10vh;
    display: flex;
    align-items: center;
}

.menu>ul>li {
    display: inline-block;
    margin-right: 1.5vw;
}

.menu>ul>li>a {
    text-decoration: none;
    color: grey;
}

.menu>ul>li>a:hover {
    color: #3eace9;
}

.back-img {
    background: gray;
    height: 50vh;
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner>p {
    text-align: center;
}

.line>div {
    overflow: hidden;
    width: 10vw;
    height: 10vh;
    border: 1px solid blue;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-line {
    background: #0073fa;
}

/*Block 1, 2 end */


/*Block 3, 4 begin */
  /*please, paste you code here */
/*Block 3, 4 end */


/*Block 5 begin */
  /*please, paste you code here */
/*Block 5 end */


/*Block 6 begin */
  /*please, paste you code here */
/*Block 6 begin */


/*Block 7, 8 begin */
  /*please, paste you code here */
/*Block 7, 8 end */


/*Block 9 begin */
  /*please, paste you code here */
/*Block 9 end */


/*Block 10, 11 begin */
  /*please, paste you code here */
/*Block 10, 11 begin */
