.blue{
	color: #16b9e8;
}


/*Please, write you styles in correct block*/


/*Block 1, 2 begin */
  /*please, paste you code here */
/*Block 1, 2 end */


/*Block 3, 4 begin */
  /*please, paste you code here */
/*Block 3, 4 end */


/*Block 5 begin */
.task5
{
	background-color: #ffffff;
}
.task5 h1
{
	text-align: center;
	color:#000000;
	margin-bottom: 60px;
}

.task5 .blueTitle
{
	color: #1FA9E6;
}

.task5 .content img
{
	max-width: 100%;
	margin-top: 10px;
    height: auto;
		width: auto;
}

.task5 .content h4
{
	color: #1FA9E6;
}

.task5 .content
{
	color:#000000;
}
.task5 .row{
	margin-bottom: 100px;
	height:auto;
}
/*Block 5 end */


/*Block 6 begin */
  /*please, paste you code here */
/*Block 6 begin */


/*Block 7, 8 begin */
.seven{
	/*background: #ef9090;*/
	/*height: 100px;*/
}

.post-image-holder{
	margin-top: 10px;
	margin-bottom: 10px;
	/*position: relative;*/
}

.horizontal-post{
	min-height: 150px;
	height: auto;
	overflow: visible;
	margin-bottom: 15px;
}

.post-image-holder img{
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}


.post-text-holder{
	/*position: relative;*/
	min-height: 150px;
	height: auto;
	/*background: #ef9090;*/
	/*overflow: auto;*/

}

.post-text{
	font-size: 16px;
	/*position: absolute;*/
	/*left: -1rem;*/
	padding-right: 2rem;
	min-height: 150px;
}

.eight{
	/*background: yellow;*/
	/*height: 100px;*/
	/*margin: auto;*/
	/*float: none;*/
}

.widget{
	background: #ccc;
	height: 600px;
	width: 60%;
}

/*Block 7, 8 end */


/*Block 9 begin */
  /*please, paste you code here */
/*Block 9 end */


/*Block 10, 11 begin */
  /*please, paste you code here */
/*Block 10, 11 begin */




/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.widget{
		width: 100%;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.task5 .row{
		margin: 0;
	}
}
